<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parcial 2</title>
    <link rel="manifest" href="manifest.json" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div id="app">

        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#">Parcial 2</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between w-100" id="navbarNav">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="personajes.html">Personajes</a>
                    </li>
                    <li class="nav-item">
                        <a v-if="nombre_usuario" class="nav-link" href="perfil.html">{{nombre_usuario}}</a>
                        <a v-else class="nav-link" href="login.html">Iniciar sesión</a>
                    </li>
    
                </ul>
                    
                    <div class="" v-if="instalacionPendiente">
                        <button @click="instalarAplicacion" id="install" type="button" class="btn">Instalar aplicación</button>
                    </div>
            </div>
            
        </nav>
    
        <div v-if="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>
    
    <div class="container">
        <section id="home" class="container text-center">
            <h2 class="mt-5 mb-4">¡Bienvenido al Portal de Fans de Rick and Morty!</h2>
        
            <p>Sumérgete en el caos interdimensional de Rick Sanchez y su nieto Morty Smith con nuestro portal dedicado a la famosa serie de animación "Rick and Morty". Explora los diversos mundos, personajes extravagantes y las situaciones cósmicas más absurdas que solo esta serie puede ofrecer.</p>
        
            <p class="lead">En este espacio, encontrarás:</p>
            <ul>
                <li>Detalles de Personajes: Descubre todo sobre los personajes principales y secundarios que hacen que la serie sea tan única. Desde el genio excéntrico Rick hasta los amigos alienígenas y las criaturas cósmicas, ¡te sumergirás en un universo lleno de locura!</li>
                <li>Episodios Destacados: Revive los momentos más hilarantes y emocionantes de la serie con nuestras reseñas de episodios. Desde aventuras intergalácticas hasta momentos emotivos, te llevaremos a través de los altibajos de cada temporada.</li>
                <li>Merchandising Exclusivo: Explora nuestra selección de productos y mercancía exclusiva de Rick and Morty. Desde camisetas hasta juguetes y coleccionables, podrás llevar contigo tu amor por la serie.</li>
            </ul>
            <p>Únete a nuestra comunidad de fans apasionados y comparte tus teorías, memes y momentos favoritos. ¡Prepárate para una experiencia interdimensional llena de risas y reflexiones existenciales!</p>
        </section>
        
    
       
        <footer>
            <div class="container">
                <p>&copy; 2023 Rick and Morty Fan Club</p>

            </div>
        </footer>
        </div>

        
    </div>

<script type="module" src="main.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>

</body>
</html>
